.about-part {
    position: relative;
    margin: 30px 10px;

    &__img-container {
        position: relative;
        height: 285px;

        &__img1 {
            position: absolute;
            left: 0;
            top: 125px;
            z-index: 10;
            height: 150px;
        }
    
        &__img2 {
            position: absolute;
            right: 0;
            top: 0;
            height: 150px;
        }
    }
}
@media (min-width: 768px){
    .about-part {
        display: flex; 
        flex-direction: row;
        height: auto;

        &__img-container {
            flex: 1 0;
            height: 370px;

            &__img1 {
                left: 25%;
                height: 200px;
                top: 170px;
            }
            &__img2 {
                right: 25%;
                height: 200px;
            }
        }
        &__text-container {
            width: 30%;
            padding-right: 15%;
        }
    }
}