.logo {
    margin: 0 20px 10px;
    font-family: var(--logo-font);
    font-weight: 200;
    font-size: 32px;
    justify-self: start;

    &-small {
        @extend .logo;
        font-size: 24px;
    }
}