.footer {
    padding: 20px;
    background-color: var(--footer-bg-color);
    text-align: center;
}

@media (min-width: 768px){
    .footer {
        display: flex; 
        flex-direction: row;
        height: auto;
        justify-content: space-between;

        &__icons {
            display: flex; 
        }
    }
}