.form-search {
    display: flex;
    position: relative;
    font-family: var(--main-title-font);
    text-transform: none;
    width: 100%;

    input {
        all: unset;
        font-size: 12px;
        width: 95%;
        font-family: var(--main-title-font);
    }
    
}
