.header {
    background-color: var(--main-bg-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    position: fixed;

    &__container {
        display: flex;
        padding: 0 10px;
    }
}

@media (min-width: 768px){
    .header__container {
        padding: 0;
    }
}
