@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf')
}
:root {
    --main-bg-color: #ffffff;
    --footer-bg-color: #e5e9f1;   
    --light-gray-color: #f4f6f9;
    --main-color: #000000;
    --main-border-color: #d3d3d3;
    --brown-color: #8a4221;
    --arrow-color: #808080;
    --logo-font: 'Pacifico', cursive;
    --main-title-font: 'Poppins', sans-serif;
    --main-text-font: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__body {
    background-color: var(--main-bg-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin: 0 20px 10px 20px;
    font-family: var(--logo-font);
    font-weight: 200;
    font-size: 32px;
    justify-self: start;
}
.header__list {
    padding: 0 10px 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: var(--main-text-font);
    cursor: pointer;
    justify-self: end;
}  
.header__list li {
    list-style: none;
    margin: 0 0 10px;
    border-top: 2px solid var(--main-border-color);  
    padding: 7px 10px 0;
    line-height: 35px;
}
.header__list li:first-child {
    border-top: 0;
}
.header__link {
    text-decoration: none;
    color: var(--main-color);
} 
.header__cart {
    display: flex;
    border-right: 2px solid var(--main-color);
    margin-right: 10px;
}
.header__cart img, .header__burger img {
    width: 25px;
    height: 25px;
    padding: 3px 5px 0 0;
}
.header__count {
    padding: 3px 10px 0 5px;
    font-family: var(--main-title-font);
}
.header__container {
    display: flex;
    padding: 0 15px;
}
.header__menu {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 0 10px 20px 5px;
    background-color: var(--main-bg-color);
    transition: left 0.5s;
    overflow: auto;
    z-index: 20;
}
.header__menu.active {
    left: 0;
}
.header__cartlist {
    display: none;
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px 10px 10px;
    width: 100px;
    background-color: var(--main-bg-color);
    box-sizing: content-box;
    z-index: 30;
}
.header__cartlist.active {
    display: block;
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px 10px 10px;
    width: 100px;
    background-color: var(--main-bg-color);
    box-sizing: content-box;
    z-index: 30;
}
.header__cartlist li {
    list-style: none;
    margin: 10px;
    text-align: center;
}
.header__cartlink {
    font-family: var(--main-title-font);
    font-size: 12px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}
.carousel {
    position: relative;
    width: 100%;
    height: 140vw;
    overflow: hidden;
}
.carousel__text {
    font-family: var(--main-title-font);
    position: absolute;
    top: 45%;
    left: 8%;
    text-align: left;
    z-index: 10;
}
.carousel__title {
    color: var(--light-gray-color);
    font-size: 27px;
    letter-spacing: 3px;
}
.carousel__subtitle {
    color: var(--brown-color);
    font-size: 24px;
    letter-spacing: 2px;
}
.carousel__box {
    position: absolute;
    width: 100vw;
}
.carousel__box.middle {
    transition: left 0.5s;
    left: 0%;
}
.carousel__box.left {
    transition: left 0.5s;
    left: -100%;
}
.carousel__box.right {
    transition: left 0.5s;
    left: 100%;
}
.carousel__box img {
    width: 100vw;
    left: 0;
    top: 0;
}